<% provide(:title, 'Login') %>

<div class="login" align="center">
	&nbsp;
  <% if current_user %>
    <p style="color: brown;"> Go to User's 
    <%= link_to "Dashboard", user_path(current_user) %>
    </p>
  <% else %>
  <div class="box">
	<h1 id="login">Login</h1>
	   &nbsp;
	<div id="table">
		<%= simple_form_for :session, :url => session_new_path, html:{ class:"form" } do |f| %>
		    <div class="form-body">
		        <div class="form-group">
         			<%= f.label :user, 'Username: ' %>
         			<%= f.text_field :user,class:'form-control' %>
         		</div>
          
       	     	<div class="form-group">
       	    	  	<%= f.label :password,'Password:'%>
       	    	   	<%= f.password_field :password, class:'form-control' %>
                </div>
          
       	     	<div id="row">
       	    	   	<%= submit_tag 'Login' ,class:"btn btn-primary"%>
       	     	</div>
       	     </div>
   		<% end %>
        <p id="notice"><%= flash[:notice] %></p>
 		</div><br>
   	<p>New user? <%= link_to "Sign up now!", new_user_path %></p>
	</div>
  <% end %>
</div>
