<% provide(:title, 'Login') %>

<div class="login" align="center">
	&nbsp;
  <% if current_user %>
    <p style="color: brown;"> Go to User's 
    <%= link_to "Dashboard", user_path(current_user) %>
    </p>
  <% else %>
  <div class="box">
    
		<h1 id="login">Login</h1>
		&nbsp;
		<div id="table">
			<%= form_tag :action => :create do %>
		   <div id="row">
     			<div id="column1"><%= label_tag :user, 'Username: ' %></div>
     			<div id="column2"><%= text_field_tag :user %></div>
     		</div>
      
   	  	<div id="row">
   		  	<div id="column1"><%= label_tag :password,'Password:'%></div>
   		   	<div id="column2"><%= password_field_tag :password %></div>
        </div>
      
   	  	<div id="row">
   		   	<%= submit_tag 'Login' %>
   	  	</div>
   		<% end %>
        <p id="notice"><%= flash[:notice] %></p>
 		</div><br>
   	<p>New user? <%= link_to "Sign up now!", new_user_path %></p>
	</div>
  <% end %>
</div>
