<div id="timesheet">
	<div id="form">
	<%= form_for @working_time  do |f| %>
		<div id="row">
			<div id="column1"><%= f.label :project_id ,"Project ID"%></div>
			<div id="column2"><%= f.text_field :project_id%></div>
		</div>
		<div id="row">
			<div id="column1"><%= f.label :start_time %></div>
			<div id="column2"><%= f.time_select :start_time %> </div>
		</div>
		<div id="row">
			<div id="column1"><%= f.label :end_time %></div>
			<div id="column2"><%= f.time_select :end_time %>   </div>
		</div>
		<div id="row">
			<div id="column1"><%= f.label :date %></div>
			<div style="float: left;
    					padding-left: 20px;
    					width: 200px;">
    		<%= f.date_select :date %></div>	
		</div>
		<div id="row">
      		<p align="center"><%= submit_tag 'Submit' %></p>
      	</div>
	<% end %>
	</div>
</div>
