<div class="user">
	<p id="name">
	<%= @user.first_name %>
	<%= @user.last_name %>
	</p>
	<% if @user.category == "admin" %>
	<%= link_to "Add Members", user_add_member_path %><br>
	<%= link_to "Create project", new_project_path %><br>
	<% else %>
	<%= link_to "Create project", new_project_path %>
	<% end %>
	<div id="flash"><%= flash[:notice] %></div>

<div id="projects">
	Projects :-
</div>
</div>