<% provide(:title, 'Sign up') %>

<div id="row"></div>

<div class="signup" align="center">
  <div class="box">
  	<h1 align="center">Sign up</h1>
  	&nbsp;
    <%= form_for :user, url: '/user',class: 'form', method: :post do |f| %>
      <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name ,class: 'form-control'%>
      </div>
      <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name,class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :user_name %>
        <%= f.text_field :user_name,class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email,class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password,class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :category %><br/>
        <%= f.radio_button :category, 'admin' %>Admin 
        <%= f.radio_button :category, 'normal' %>Normal      
      </div>
      <div class="form-group">
        <%= f.label :company %>
        <%= f.text_field :company,class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.submit "Create my account", class: "btn btn-primary" %>
      </div>
      
    <% end %>
  </div>
</div>
