<%= render '/user/nav' %>
<div class="user">
	<%if current_user %>
	&nbsp;
	<h3>Projects:-</h3>
		<% @projects.each do |project| %>
			<p>
				Project_id: <%= project.id %><br>
				Name: <%= project.name %><br>
				Description: <%= project.description %>
			</p>
		<% end %>	
	<% end %>
	<div id= "flash"><%= flash[:notice] %></div>

</div>
