
<!DOCTYPE html>
<html>
<head>
  <title>Timesheet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
	&nbsp;<h1 align="center">Timesheet</h1>&nbsp;
	<div id="nav">
		<% if current_user %>
			Welcome! <%= current_user.first_name %> <%= current_user.last_name%>
		<div id="links">
			<%= link_to "Home", user_path(current_user) %>
			<%= link_to "Log Out", session_path(current_user), method: "delete" %>
		<% else %>
			<%= link_to "Login", new_session_path %>
		<% end %>	
		</div>	
	</div>
</div>
<div id="menu" style="float:left;">
	
</div>

<%= yield %>



</body>
</html>
