
<!DOCTYPE html>
<html>
<head>
  <title>Timesheet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
	<div style="padding-top:2px; padding-left:5px;"><h3>Home</h3></div>
	&nbsp;<h1 align="center">Timesheet</h1>&nbsp;
	<div id="login">
		<% if current_user %>
			Welcome! <%= current_user.first_name %> <%= current_user.last_name%>
			<%= link_to "Log Out", session_path(current_user), method: "delete" %>
		<% else  %>
			<%= link_to "Login", new_session_path %>
		<% end %>		
	</div>
</div>
<div id="left">
	
	
</div>
<div class="user">
	<% if current_user %>
	<p id="name">

	<%= current_user.first_name %>
	<%= current_user.last_name %>
	</p>
	<% if current_user.category == "admin" %>
	<%= link_to "Add Members", user_add_member_path %><br>
	<%= link_to "Create project", new_project_path %><br>
	<% else %>
	<%= link_to "Create project", new_project_path %>
	<% end %>
	<div id="flash"><%= flash[:notice] %></div>
	<div id="projects">
		Projects :-
		<p>
			<% if current_user.projects %>
					<%= current_user.projects %><br>
					<%= current_user.projects %><br>
			<% end %>
		</p>
	</div>
	<% end %>
</div>
<%= yield %>



</body>
</html>
